#elm-audioplayer .wrapper {
    background: #f9f9f9;
    border-top: 2px solid #ddd;
    color: #333;
    font-family: sans-serif;
    left: 0;
    position: fixed;
    transition: bottom 1s ease;
    width: 100%;
    z-index: 100;
  }

#elm-audioplayer svg {
fill: #333;
max-width: 48px;
}

#elm-audioplayer .open {
bottom: 0;
}

#elm-audioplayer .player {
align-items: center;
display: flex;
justify-content: space-around;
min-height: 60px;
}

#elm-audioplayer .play,
#elm-audioplayer .pause,
#elm-audioplayer .playback,
#elm-audioplayer .info,
#elm-audioplayer .logo {
margin: 0 10px;
}

#elm-audioplayer .play,
#elm-audioplayer .pause {
background: none;
border: 0;
border-radius: 100%;
padding: 0;
}

#elm-audioplayer .thumbnail {
margin-right: 10px;
}

#elm-audioplayer .info {
align-items: center;
display: flex;
flex-grow: 1;
flex-wrap: wrap;
justify-content: space-between;
}

#elm-audioplayer .timeline {
appearance: none;
background-color: #ccc;
background-image: linear-gradient(#333, #333);
background-repeat: no-repeat;
background-size: 0% 100%;
border-radius: 10px;
cursor: pointer;
flex-basis: 100%;
height: 6px;
margin: 0 0 10px;
padding: 0;
position: relative;
}

#elm-audioplayer .timeline::-webkit-slider-runnable-track {
appearance: none;
background: transparent;
border: 0;
box-shadow: none;
}

#elm-audioplayer .timeline::-moz-range-track {
background: transparent;
border: 0;
box-shadow: none;
}

#elm-audioplayer .timeline::-ms-track {
background: transparent;
border: 0;
box-shadow: none;
}

#elm-audioplayer .timeline::-ms-fill-lower {
background-color: #333;
}

#elm-audioplayer .timeline::-ms-fill-upper {
background-color: #ccc;
}

#elm-audioplayer .timeline::-moz-focus-outer {
border: 0;
}

#elm-audioplayer .timeline::-webkit-slider-thumb {
appearance: none;
background: #333;
border: 0;
border-radius: 100%;
box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.33);
height: 14px;
width: 14px;
}

#elm-audioplayer .timeline::-moz-range-thumb {
background: #333;
border: 0;
border-radius: 100%;
box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.33);
height: 14px;
width: 14px;
}

#elm-audioplayer .timeline::-ms-thumb {
background: #333;
border: 0;
border-radius: 100%;
box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.33);
height: 14px;
width: 14px;
}

#elm-audioplayer .artist {
margin-right: 10px;
}

#elm-audioplayer .title {
font-weight: bold;
}

#elm-audioplayer .time {
font-size: 14px;
margin-left: 10px;
}

#test {
    position: absolute;
    top: 200px;
}